<!--Put page title-->
<%provide(:title, "Sign In")%>
<h1>Sign In</h1>
<!--Set some style to form-->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<!--create form for use sign in-->
		<%= form_for(:session, url: signin_path) do |f| %>
			<!--add label user email and text field email-->
	      <%= f.label :email %>
	      <%= f.text_field :email %>
	      	<!--add label user password and password field password-->
	      <%= f.label :password %>
	      <%= f.password_field :password %>
	      <!--add button Sing in-->
	      <%= f.submit "Sign in", class: "btn btn-primary" %>
   		<% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>